$light-color: #fff3;
$dark-color: #0003;
$cover-color: #dddd;

.board-block {
  position: relative;
  aspect-ratio: 1;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: $dark-color $light-color $light-color $dark-color ;
  pointer-events: none;
}

.covered {
  background-color: $cover-color;
  border-color: $light-color $dark-color $dark-color $light-color;
}

.block-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.plane-body {
  background-color: rgba(0, 0, 0, 0.15);
}

.not-ready {
  outline-color: red;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 10;
}

.hitted-PlaneBody {
  background-color: rgba(127, 127, 127, 0.2);
  z-index: 10;
}

.hitted-PlaneCore {
  z-index: 10;
}

@keyframes explosion-wave {
  0% {
    opacity: 0.2;
    transform: translate(-25%, -25%) scale(0.5);
  }
  20%,75% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: translate(-25%, -25%) scale(1);
  }
}

.hitted-PlaneCore::before {
  content: '';
  position: absolute;
  display: block;
  width: 200%;
  height: 200%;
  box-sizing: border-box;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 159, 127, 0.7) 40%, rgba(255, 200, 127, 0) 75%);
  transform: translate(-25%, -25%);
  animation: explosion-wave 2s ease-out infinite;
}

.hitted-block {
  display: block;
  z-index: 10;
}
