.board-block {
  aspect-ratio: 1;
  width: 100%;
  text-align: center;
  outline: solid 1px #ccc;
  outline-offset: -1px;
  pointer-events: none;
}

.hitted {
  background-color: brown;
}

.plane-body {
  background-color: rgba(0, 0, 0, 0.15);
}

.not-ready {
  outline-color: red;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 10;
}