@use "var.scss" as *;

.board-frame {
  position: relative;
  border: solid $border-thick #fff1;
  aspect-ratio: 1;
  border-radius: 1em;
  box-shadow: 0 0 1em 0.5em #0003;
}

.cloud-background {
  box-shadow: 0 0 1em 0.5em $sky-blue;
  background-color: $sky-blue;
  background-image: url(/images/2d/board-background.png);
  background-size: cover;
  background-origin: border-box;
  background-clip: padding-box;
  background-repeat: repeat-x;
}

.sketch-board {
  background-color: white;
}

@keyframes board-background-animation {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: -100%;
  }
}

.board-frame::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -$border-thick;
  bottom: -$border-thick;
  left: -$border-thick;
  right: -$border-thick;
  border: inherit;
  border-color: transparent;
  background: inherit;
  background-clip: border-box;
  border-radius: inherit;
  filter: blur($border-thick * 0.25);
}

.board {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board > canvas {
  position: absolute;
  width: 100%;
}

.locked {
  filter: saturate(0.2);
}

.pointer-events-through {
  pointer-events: none;
}


.top {
  z-index: 5;
}