.board-frame {
  position: relative;
  border: double 5px black;
  aspect-ratio: 1;
}

.board {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: cyan;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
